#charSheet {
    max-width: 960px;
    margin: 0 auto;
    /* border: 1px solid #000; */
}
#gameSpace {
    max-width: 400px;
    margin: 0 auto;
    /* border: 1px solid #000; */
}

.container {
    /* max-width: 960px; */
    /* border: 1px solid #000; */
}
/* #playerDiv {
    border-top: 2px solid #000;
    border-left: 2px solid #000;
    border-right: 2px solid #000;
}
#playerInfo {
    border-left: 2px solid #000;
    border-right: 2px solid #000;
    border-bottom: 2px solid #000;
} */
.enemy{
    height: 150px;
    width: 200px;
}
#player{
    height: 150px;
    width: 200px;
}
#target{
    height: 150px;
    width: 200px;
}
#combatLog {
    border: 2px solid #000;
}
.col-md-12 {
    margin: 0 auto;
    /* border: 2px solid #000; */
}
.col-md-4{
    padding: 10px;
    width: 100px;
    margin: 0;
    border: 2px solid #000;
}
.character-image {
    height: 200px;
}