#charSheet {
    max-width: 400px;
    margin: 0 auto;
    /* border: 1px solid #000; */
}
.container {
    max-width: 960px;
    /* border: 1px solid #000; */
}
.col-md-4{
    padding: 2.5px;
    width: 100px;
}
.character-image {
    height: 100px;
    width: 100px;
}